@import "mixens.scss";
@import "variables.scss";

@mixin animation {
  .active {
    .cards-container {
      .item {
        margin-top: unset;
        transform: rotateY(0deg);
      }
    }
    .logos {
      margin-top: unset;
      .white-card {
        top: 0%;
      }
      .row:last-of-type {
        .card:last-of-type {
          right: 0%;
        }
        .card:first-of-type {
          right: 0%;
        }
        & > div:first-child div {
          margin-top: 0%;
        }
      }
    }
    .outsourcing{
        margin-top: 80px;
    }
    .variety-technologies {
      margin-top: 0%;
      .panner {
        transform: translateY(0px);
        transition: 2s;
      }
      .developments-cards {
        .card {
          transform: translateY(0px);
        }
      }
    }

    .choose-us {
        padding-top: 16px;

      ul {
        li {
          opacity: 1;
        }
      }
    }
    .custom-software {
        margin-top: 70px;
        transition: 1s;
      h1 {
        margin-top: 0%;
        opacity: 1;
      }
    }
    .Key-Products {
      margin-top: 0%;
      .header {
        right: 0%;
      }
      .col-lg-3 {
        .item * {
          opacity: 1;
        }
      }
    }
    .contact-us {
      margin-top: 0%;
      ul {
        li {
          opacity: 1;
        }
      }
    }

    .f-leading {
      padding-top: 35px;
      ul {
        opacity: 1;
      }
    }
  }

  // --------- animation delay-----------
  .cards-container {
    .col-lg-4 {
      &:nth-of-type(1) {
        .item {
          transition-delay: 0.1s;
        }
      }
      &:nth-of-type(2) {
        .item {
          transition-delay: 0.2s;
        }
      }
      &:nth-of-type(3) {
        .item {
          transition-delay: 0.3s;
        }
      }
    }
  }

  .choose-us {
    ul {
      li:nth-of-type(1) {
        transition-delay: 0.4s;
      }
      li:nth-of-type(2) {
        transition-delay: 0.8s;
      }
      li:nth-of-type(3) {
        transition-delay: 1.2s;
      }
      li:nth-of-type(4) {
        transition-delay: 1.5s;
      }
    }
  }
  .Key-Products {
    .col-lg-3:nth-of-type(1) {
      .item * {
        transition-delay: 0.2s;
      }
    }
    .col-lg-3:nth-of-type(2) {
      .item * {
        transition-delay: 0.4s;
      }
    }
    .col-lg-3:nth-of-type(3) {
      .item * {
        transition-delay: 0.6s;
      }
    }
    .col-lg-3:nth-of-type(4) {
      .item * {
        transition-delay: 0.8s;
      }
    }
  }

  .contact-us {
    ul {
      li:nth-of-type(1) {
        transition-delay: 0.4s;
      }
      li:nth-of-type(2) {
        transition-delay: 0.8s;
      }
      li:nth-of-type(3) {
        transition-delay: 1.2s;
      }
      li:nth-of-type(4) {
        transition-delay: 1.5s;
      }
      li:nth-of-type(5) {
        transition-delay: 1.7s;
      }
      li:nth-of-type(6) {
        transition-delay: 1.9s;
      }
      li:nth-of-type(7) {
        transition-delay: 1.1s;
      }
    }
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $light_blue;
    }
  }
}
