@font-face {
  font-family: "Arial Unicode MS";
  src: url("../fonts/arial-unicode-ms.ttf");
}

@font-face {
  font-family: "Arial Unicode MS";
  src: url("../fonts/arial-unicode-ms.ttf");
}

@font-face {
  font-family: "Arial Unicode MS";
  src: url("../fonts/arial-unicode-ms.ttf");
}

@font-face {
  font-family: "Arial Unicode MS";
  src: url("../fonts/arial-unicode-ms.ttf");
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background: white;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h6,
p {
  margin: 0px;
  padding: 0px;
}

/* ==================   Start Of Header ========================= */
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .logo {
  margin-right: auto;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  padding: 0px 10px;
  text-transform: uppercase;
  font-family: "Jost";
}

header nav ul li a {
  color: #22262a;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.3;
  letter-spacing: 0.19px;
  display: inline-block;
}

header nav ul li a:hover {
  color: white;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.3;
  letter-spacing: 0.19px;
  display: inline-block;
}

header nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #136ee600;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

header nav ul li a:hover::after {
  width: 100%;
  background: #136de6;
}

header nav ul li .active {
  color: white;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.3;
  letter-spacing: 0.19px;
  display: inline-block;
}

header nav ul li .active::after {
  width: 100%;
  background: #136de6;
}

/* =======================================  End Of Header  ================================== */
/* ======================================== Start Of landing  =============================== */
.landing {
  position: relative;
  background-size: cover;
  width: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.landing .background-landing {
  background-image: url(../assets/images/banner-home@3x.webp);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
}

/* ========================================= End Of landing ================================= */
/* ========================================= Start Of Cards  ================================= */
.cards-container {
  border-radius: 74% 76% 0% 0%;
}

.cards-container .row:first-of-type {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards-container .item {
  height: 326px;
  border-radius: 10px;
  -webkit-box-shadow: 0 -12px 60px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 -12px 60px 0 rgba(0, 0, 0, 0.13);
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 20%;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.cards-container .item .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-container .item h3 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212529;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Jost";
}

.cards-container .item p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 10px 31px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: "Arial Unicode MS";
  color: #212529;
}

.logos {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 20%;
  background-image: url("../assets/images/section-1@2x.png");
  background-size: cover;
  overflow: hidden;
}

.logos .row:first-of-type {
  padding: 90px 0px 60px;
}

.logos .row:last-of-type {
  padding-bottom: 5%;
}

.logos .row:last-of-type > div:first-child div {
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logos .row:last-of-type .card:first-of-type {
  background-color: #212529;
  position: relative;
  right: -180%;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 3;
}

.logos .row:last-of-type .card:first-of-type span {
  width: 22px;
  height: 3px;
  margin: 10% 169px 0px 0px;
  border-radius: 1px;
  background-color: white;
}

.logos .row:last-of-type .card:last-of-type {
  background-color: #006ff3;
  position: relative;
  right: -100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.logos .row:last-of-type .card:last-of-type span {
  width: 22px;
  height: 3px;
  margin: auto 169px 0 0;
  border-radius: 1px;
  background-color: white;
}

.logos .row:last-of-type .card {
  padding: 46px 37px 43px 29px;
  border-radius: 10px;
  margin: 24px 0px;
}

.logos .row:last-of-type .card p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Arial Unicode MS";
  color: white;
  font-size: 15px;
}

.logos .row:last-of-type .card .cardHeader {
  margin-bottom: 30px;
}

.logos .row:last-of-type .card .cardHeader h4 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Jost";
  color: white;
  font-weight: bold;
  line-height: 1;
  font-size: 20px;
}

.logos .row:last-of-type .card .cardHeader img {
  max-width: 90px;
  max-height: 90px;
}

.logos .row:last-of-type img[alt="badge"] {
  max-width: 160px;
}

.logos .white-card {
  padding: 36px 51px 21px 36px;
  border-radius: 10px;
  -webkit-box-shadow: 0 -12px 60px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 -12px 60px 0 rgba(0, 0, 0, 0.35);
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  top: -200%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.logos .white-card h4 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212529;
  font-size: 18px;
  font-weight: bold;
  font-family: "Jost";
  text-transform: uppercase;
}

.logos .white-card p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212529;
  font-size: 20px;
  font-family: "Arial Unicode MS";
}

.outsourcing {
  margin: 80px 0px;
  margin-top: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.outsourcing .outsource-card {
  -webkit-box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.5);
  background-size: cover;
  padding: 244px 62.7px 30px 37px;
  border-radius: 10px;
}

.outsourcing .outsource-card h3 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: "Jost";
  color: white;
  font-size: 33.6px;
  font-weight: bold;
  margin-bottom: 13px;
}

.outsourcing .outsource-card p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Arial Unicode MS";
  color: #ffffffd1;
  font-size: 24px;
}

.outsourcing .outsource-card2 {
  background-image: url("../assets/images/outsource.png");
}

.outsourcing .outsource-card1 {
  background-image: url("../assets/images/outsource2.png");
}

.variety-technologies {
  background-color: #f2f4f8;
  margin-top: 22%;
  -webkit-transition: 1s;
  transition: 1s;
}

.variety-technologies .header {
  padding: 60px 0px 20px 0px;
}

.variety-technologies .header h1 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 800;
  letter-spacing: -1.1px;
  text-align: center;
  color: #434343;
  font-family: "Jost";
  text-transform: uppercase;
}

.variety-technologies .header p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #006ff3;
  font-size: 20px;
  margin: 0px 0px 20px 0px;
  font-family: "Arial Unicode MS";
}

.variety-technologies .panner {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: 2s;
  transition: 2s;
}

.variety-technologies .panner img {
  -webkit-box-shadow: 0 22px 34px 0 #21252936;
          box-shadow: 0 22px 34px 0 #21252936;
  border-radius: 10px;
  width: 100%;
}

.variety-technologies .developments-cards .card {
  -webkit-box-shadow: 0 22px 34px 0 #21252936;
          box-shadow: 0 22px 34px 0 #21252936;
  padding: 40px 40px 20px;
  border-radius: 10px;
  margin-bottom: 22px;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: 2s;
  transition: 2s;
}

.variety-technologies .developments-cards .card h5 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  font-family: "Jost";
  text-transform: uppercase;
}

.variety-technologies .developments-cards .card .body {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.variety-technologies .developments-cards .card .body span {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  display: inline-block;
}

.variety-technologies .developments-cards .card img {
  max-width: 70px;
}

.variety-technologies .developments-cards .black {
  background-color: #212529;
}

.variety-technologies .developments-cards .black img {
  height: 65px;
  max-width: 58px;
}

.variety-technologies .developments-cards .light-blue {
  background-color: #006ff3;
}

.variety-technologies .developments-cards .light-blue img {
  height: 70px;
}

.variety-technologies .developments-cards .white {
  background-color: white;
}

.variety-technologies .developments-cards .white img {
  max-width: 60px;
  height: 60px;
}

.variety-technologies .developments-cards .white h5 {
  color: #212529;
}

.variety-technologies .developments-cards .white .body > div {
  color: #212529;
}

.variety-technologies .developments-cards .white span {
  background-color: #212529 !important;
}

.variety-technologies .developments-cards .dark {
  background-color: #232146;
}

.variety-technologies .developments-cards .dark img {
  max-width: 60px;
  height: 60px;
}

.choose-us {
  background-image: url("../assets/images/bg-wall@2x.png");
  background-size: cover;
  padding: 16px 30px 230px;
  padding-top: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.choose-us .header {
  padding: 50px 0px 20px 0px;
}

.choose-us .header p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Arial Unicode MS";
  font-size: 30px;
  color: #006ff3;
  text-align: center;
}

.choose-us .header h1 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 800;
  letter-spacing: -1.1px;
  text-align: center;
  color: #434343;
  font-family: "Jost";
  text-transform: uppercase;
}

.choose-us ul {
  margin: 0px;
}

.choose-us ul li {
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.choose-us ul li b {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #006ff3;
  font-size: 26px;
  font-weight: bold;
  font-family: "Jost";
}

.choose-us ul li p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 22px;
  font-family: "Arial Unicode MS";
}

.choose-us .laptop {
  position: relative;
  position: absolute;
  background-image: url("../assets/images/laptop@3x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 20px;
}

.choose-us .laptop .row {
  height: 250px;
}

.choose-us .laptop h6 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 30px;
  margin: 10px;
  font-weight: 800;
  text-align: center;
  color: white;
  letter-spacing: -1.1px;
  font-family: "Jost";
  text-transform: uppercase;
}

.choose-us .laptop .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose-us .laptop .item .icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-us .laptop .item .icon img {
  max-width: 22px;
}

.choose-us .laptop .item:nth-last-of-type(1) .icon {
  background-color: #232146;
}

.choose-us .laptop .item:nth-last-of-type(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.choose-us .laptop .item:nth-last-of-type(2) .icon {
  background-color: white;
}

.choose-us .laptop .item:nth-last-of-type(3) .icon {
  background-color: #32c5ff;
}

.choose-us .laptop .item:nth-last-of-type(4) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.choose-us .laptop .item:nth-last-of-type(4) .icon {
  background-color: #22262a;
}

.choose-us .laptop .item p {
  font-family: "Jost";
  font-size: 14px;
  font-weight: 500;
  color: white;
  width: 125px;
}

.choose-us .laptop .item p span {
  display: block;
  font-family: "Arial Unicode MS";
  font-size: 10px;
}

.custom-software {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../assets/images/CustomSoftware.png");
  background-size: cover;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0 22px 34px 0 #21252936;
          box-shadow: 0 22px 34px 0 #21252936;
  border-radius: 35px;
  padding: 115px 0px 121px 85px;
  margin: 70px 0px;
  margin-top: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.custom-software h2 {
  color: #006ff3;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.83px;
  text-transform: uppercase;
}

.custom-software h1 {
  color: white;
  font-weight: 800;
  max-width: 944px;
  letter-spacing: -1.1px;
  text-transform: uppercase;
  line-height: normal;
  font-family: "Jost";
  opacity: 0;
  margin-top: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.Key-Products {
  background-image: url("../assets/images/blue-bg.png");
  background-color: #232146;
  padding: 80px 0px;
  margin-top: 30px;
  margin-top: 20%;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

.Key-Products .header {
  text-align: center;
  position: relative;
  right: -150%;
}

.Key-Products .header h6 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 30px;
  color: #006ff3;
  font-family: "Arial Unicode MS";
}

.Key-Products .header h1 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 800;
  letter-spacing: -1.1px;
  color: #ffffff;
  margin-bottom: 60px;
  font-family: "Jost";
  text-transform: uppercase;
}

.Key-Products .item * {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.Key-Products .item .icon {
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0 22px 34px 0 #21252936;
          box-shadow: 0 22px 34px 0 #21252936;
  width: 95px;
  height: 95px;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px auto;
}

.Key-Products .item .icon img {
  max-width: 75px;
}

.Key-Products .item h5 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: white;
  margin: 0px 25px;
  height: 60px;
}

.Key-Products .item p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: ArialUnicodeMS;
  font-size: 15px;
  text-align: center;
  color: #fffffff0;
  margin: 20px 0px;
}

.contact-us {
  background-color: #f2f4f8;
  margin-top: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-us iframe {
  border: 0;
  width: 100%;
  margin: 50px 0px;
}

.contact-us h1 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1.1px;
  color: #393939;
  margin: 70px 0px 35px 0px;
  font-family: "Jost";
  text-transform: uppercase;
}

.contact-us ul {
  padding: 0px;
}

.contact-us ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-us ul li p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 15px;
  color: #0f0e1e;
  padding: 2px 0px 5px 10px;
  font-family: "Arial Unicode MS";
}

.contact-us ul li p a:hover {
  color: inherit;
}

footer .f-leading {
  background-color: #212529;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 35px 0px;
  padding-top: 30%;
}

footer .f-leading .logo img {
  max-width: 70px;
}

footer .f-leading p:first-of-type {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: OpenSans;
  font-size: 14px;
  color: #828385;
  margin: 20px 0px;
}

footer .f-leading h2 {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 45px;
}

footer .f-leading ul {
  padding: 0px;
  opacity: 0;
}

footer .f-leading ul li {
  color: #9fa3a7;
  line-height: 2.57;
}

footer .f-leading .last h2 {
  margin-bottom: 20px;
}

footer .tail {
  background-color: #141619;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0px;
}

footer .tail p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 14px;
  letter-spacing: 1.17px;
  color: #c8c8c8;
}

footer .tail ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px;
}

footer .tail ul li {
  margin: 0px 30px;
}

footer .tail ul li a img {
  max-width: 30px;
}

@media only screen and (min-width: 900px) {
  .reset-margen {
    margin-top: -167px;
  }
  header {
    margin: 34px 0px;
  }
  .landing {
    margin-top: -162px;
    height: calc(130vh);
  }
  .landing .landing-content h1 {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.92;
    letter-spacing: normal;
    color: white;
    -webkit-transition: 2s;
    transition: 2s;
    margin-bottom: 120px;
  }
  .landing .landing-content p {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 642px;
    height: 237px;
    font-size: 50.8px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 1.6px;
    color: white;
    text-transform: uppercase;
    font-family: "Jost";
  }
  .cards-container {
    background-color: white;
    top: -165px;
    position: relative;
    padding: 20px 0px;
  }
  .cards-container .item img {
    max-width: 125px;
    margin-top: -65px;
  }
  .logos .row:last-of-type .card {
    width: 45%;
  }
  .outsourcing .outsource-card p {
    width: 400px;
  }
  .variety-technologies .header h1 {
    font-size: 40px;
  }
  .variety-technologies .panner img {
    height: 465px;
  }
  .choose-us {
    height: 850px;
  }
  .choose-us .col-lg-6:last-of-type {
    height: 605px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .choose-us ul li:first-of-type {
    width: 200%;
  }
  .custom-software h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) {
  header {
    overflow-x: hidden;
  }
  header .container {
    max-width: -webkit-fill-available;
  }
  header .container nav .logo {
    margin-top: 5%;
  }
  header .container nav .toggle-button {
    margin-top: 5%;
  }
  header .container nav .openSidenav {
    width: 220px;
    z-index: 2;
    padding: 25px 35px;
    margin-right: -4%;
  }
  header .container nav ul {
    display: block;
    height: calc(94vh);
    background: #212529;
    padding: 0px;
    z-index: -1;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-property: width;
    transition-property: width;
    margin: 0px;
    width: 0px;
  }
  header .container nav ul li a {
    color: white;
  }
  .landing {
    position: absolute;
    top: 0px;
    height: calc(90vh);
  }
  .landing .landing-content h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: normal;
    color: white;
    margin: 15px 0px;
  }
  .landing .landing-content p {
    font-size: 35.8px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
  }
  .cards-container {
    margin-top: 15%;
  }
  .cards-container .item {
    margin: 20px 0px;
  }
  .cards-container .item img {
    max-width: 100px;
  }
  .logos .row:first-of-type .col-lg-4:first-of-type {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
  }
  .logos .card:last-of-type span {
    margin: 30px 169px 0 0;
  }
  .outsourcing .outsource-card2 {
    margin-bottom: 40px;
  }
  .variety-technologies .panner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .variety-technologies .panner img {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .choose-us .laptop {
    display: none;
  }
  .custom-software {
    height: 455px;
    padding-left: 35px;
  }
  .custom-software h1 {
    font-size: 20px;
  }
  .custom-software h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  footer .logo {
    text-align: center;
  }
  footer .f-leading p:first-of-type {
    text-align: center;
  }
  footer .f-leading h2 {
    margin: 10px 20px;
  }
  footer .f-leading .map-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .tail {
    padding-bottom: 10px;
  }
  footer .tail p {
    text-align: center;
  }
  footer .tail ul {
    padding: 20px 0px;
  }
}

.active .cards-container .item {
  margin-top: unset;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.active .logos {
  margin-top: unset;
}

.active .logos .white-card {
  top: 0%;
}

.active .logos .row:last-of-type .card:last-of-type {
  right: 0%;
}

.active .logos .row:last-of-type .card:first-of-type {
  right: 0%;
}

.active .logos .row:last-of-type > div:first-child div {
  margin-top: 0%;
}

.active .outsourcing {
  margin-top: 80px;
}

.active .variety-technologies {
  margin-top: 0%;
}

.active .variety-technologies .panner {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 2s;
  transition: 2s;
}

.active .variety-technologies .developments-cards .card {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.active .choose-us {
  padding-top: 16px;
}

.active .choose-us ul li {
  opacity: 1;
}

.active .custom-software {
  margin-top: 70px;
  -webkit-transition: 1s;
  transition: 1s;
}

.active .custom-software h1 {
  margin-top: 0%;
  opacity: 1;
}

.active .Key-Products {
  margin-top: 0%;
}

.active .Key-Products .header {
  right: 0%;
}

.active .Key-Products .col-lg-3 .item * {
  opacity: 1;
}

.active .contact-us {
  margin-top: 0%;
}

.active .contact-us ul li {
  opacity: 1;
}

.active .f-leading {
  padding-top: 35px;
}

.active .f-leading ul {
  opacity: 1;
}

.cards-container .col-lg-4:nth-of-type(1) .item {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.cards-container .col-lg-4:nth-of-type(2) .item {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.cards-container .col-lg-4:nth-of-type(3) .item {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.choose-us ul li:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.choose-us ul li:nth-of-type(2) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.choose-us ul li:nth-of-type(3) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.choose-us ul li:nth-of-type(4) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.Key-Products .col-lg-3:nth-of-type(1) .item * {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.Key-Products .col-lg-3:nth-of-type(2) .item * {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.Key-Products .col-lg-3:nth-of-type(3) .item * {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.Key-Products .col-lg-3:nth-of-type(4) .item * {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.contact-us ul li:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.contact-us ul li:nth-of-type(2) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.contact-us ul li:nth-of-type(3) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.contact-us ul li:nth-of-type(4) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.contact-us ul li:nth-of-type(5) {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.contact-us ul li:nth-of-type(6) {
  -webkit-transition-delay: 1.9s;
          transition-delay: 1.9s;
}

.contact-us ul li:nth-of-type(7) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #006ff3;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #006ff3;
  }
}
/*# sourceMappingURL=main.css.map */