@mixin mediaQuery {
  //    ------------- only  Mobile & Tablets  ------------------
  @media only screen and (max-width: 900px) {
    header {
      overflow-x: hidden;

      .container {
        max-width: -webkit-fill-available;

        nav {
          padding: 20px 0px;

          & .openSidenav {
            width: 220px;
            z-index: 2;
            padding: 25px 35px;
          }

          ul {
            display: block;
            height: calc(100vh);
            background: #212529;
            padding: 0px;
            z-index: -1;
            transition: 0.8s;
            transition-property: width; //, padding
            margin: 0px;
            width: 0px;
            li {
              a {
                color: $white;
              }
            }
          }
        }
      }
    }

    .landing {
      position: absolute;
      top: 0px;
      height: calc(90vh);

      .landing-content {
        h1 {
          font-size: 20px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: normal;
          color: $white;
          margin: 15px 0px;
        }
        p {
          font-size: 35.8px;
          font-weight: bold;
          line-height: 1;
          letter-spacing: 1px;
          color: $white;
          text-transform: uppercase;
        }
      }
    }
    .cards-container {
      .item {
        margin: 10px 0px;

        img {
          max-width: 100px;
        }
        h3 {
        }
        p {
        }
      }
    }

    .variety-technologies {
      .panner {
        justify-content: center;
        display: flex;
        margin-bottom: 30px;
        img {
          max-width: max-content;
        }
      }
    }
    .choose-us {
      // height: 1100px;
      .laptop{
        display: none;
      }
    }

    .custom-software {
      height: 455px;
      padding-left: 35px;
    }

    footer {
      .logo {
        text-align: center;
      }
      .leading {
        & p:first-of-type {
          text-align: center;
        }
        h2 {
          margin: 10px 20px;
        }
        .map-list {
          display: flex;
          justify-content: center;
        }
      }
      .tail {
        padding-bottom: 10px;
        p {
          text-align: center;
        }
        ul {
          padding: 20px 0px;
        }
      }
    }
  }

  //    ------------- Only Large  ------------------
  @media only screen and (min-width: 900px) {
    .reset-margen {
      margin-top: -167px;
    }
    header {
      margin: 34px 0px;
    }
    .landing {
      margin-top: -162px;
      height: calc(130vh);
      .landing-content {
        h1 {
          font-size: 30px;
          font-weight: 500;
          line-height: 1.92;
          letter-spacing: normal;
          color: $white;
          transition: 2s;
          margin-bottom: 120px;
        }
        p {
          width: 642px;
          height: 237px;
          font-size: 50.8px;
          font-weight: bold;
          line-height: 1.22;
          letter-spacing: 1.6px;
          color: $white;
          text-transform: uppercase;
        }
      }
    }
    .cards-container {
      background-color: $white;
      top: -165px;
      position: relative;
      padding: 20px 0px;

      .item {
        img {
          max-width: 125px;
          margin-top: -65px;
        }
        h3 {
        }
        p {
        }
      }
    }
    .logos {
      .row:last-of-type {
        .card {
          width: 45%;
        }
      }
    }
    .variety-technologies {
      .header {
        h1 {
          font-size: 40px;
        }
      }
    }
    .choose-us {
      height: 850px;
      .col-lg-6:last-of-type {
        height: 605px;
        align-items: flex-end;
        display: flex;
      }
      ul {
        li:first-of-type {
          width: 180%;
        }
      }
    }
    .custom-software {
      h2 {
        font-size: 30px;
      }
    }
  }
}
