@import "variables.scss";

// {   =================== Header Mixins =========================== }  //
@mixin headerLinkInactive {
  color: $header_Inactive_color;
  font-family: $Jost_font;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.3;
  letter-spacing: 0.19px;
  display: inline-block;
}
@mixin headerLinkActive {
  color: $white;
  font-family: $Jost_font;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.3;

  letter-spacing: 0.19px;
  display: inline-block;
}
@mixin coolHeaderBorderNaveLink {
  content: ""; 
  display: block;
  width: 0;
  height: 4px;
  background: $blue_with_opacity;
  transition: width 0.3s;
}
@mixin normal {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  
}

@mixin blackHeader {
  @include normal;      
  font-weight: 800;
  letter-spacing: -1.1px;
  text-align: center;
  color: $regular-black;
  font-family: $Jost_font;
  text-transform: uppercase;
}

@mixin justifyAlignCenter {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin HideScroll {
 
  &::-webkit-scrollbar {
    width: 0px !important;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: none !important;
    border: none !important;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent !important;;
    border: none !important;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background:transparent !important;;
  }
  }
  