@mixin MobAndTap {
  @media only screen and (max-width: 900px) {
    header {
      overflow-x: hidden;

      .container {
        max-width: -webkit-fill-available;

        nav {
          // padding: 20px 0px;

          & .openSidenav {
            width: 220px;
            z-index: 2;
            padding: 25px 35px;
            margin-right: -4%;
          }

          ul {
            display: block;
            height: calc(94vh);
            background: #212529;
            padding: 0px;
            z-index: -1;
            transition: 0.8s;
            transition-property: width; //, padding
            margin: 0px;
            width: 0px;
            li {
              a {
                color: $white;
              }
            }
          }
        }
      }
    }

    .landing {
      position: absolute;
      top: 0px;
      height: calc(90vh);

      .landing-content {
        h1 {
          font-size: 20px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: normal;
          color: $white;
          margin: 15px 0px;
        }
        p {
          font-size: 35.8px;
          font-weight: bold;
          line-height: 1;
          letter-spacing: 1px;
          color: $white;
          text-transform: uppercase;
        }
      }
    }
    .cards-container {
      margin-top: 15%;

      .item {
        margin: 20px 0px;

        img {
          max-width: 100px;
        }
        h3 {
        }
        p {
        }
      }
    }

    .logos {
      .row:first-of-type {
        .col-lg-4:first-of-type {
          justify-content: center;
          display: flex;
          margin-bottom: 35px;
        }
      }
      .card:last-of-type {
        span {
          margin: 30px 169px 0 0;
        }
      }
    }
    .outsourcing {
      .outsource-card2 {
        margin-bottom: 40px;
      }
    }
    .variety-technologies {
      .panner {
        justify-content: center;
        display: flex;
        margin-bottom: 30px;
        img {
          max-width: max-content;
        }
      }
    }
    .choose-us {
      // height: 1100px;
      .laptop {
        display: none;
      }
    }

    .custom-software {
      height: 455px;
      padding-left: 35px;

      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    footer{
      .logo {
        text-align: center;
      }
      .f-leading {
        & p:first-of-type {
          text-align: center;
        }
        h2 {
          margin: 10px 20px;
        }
        .map-list {
          display: flex;
          justify-content: center;
        }
      }
      .tail {
        padding-bottom: 10px;
        p {
          text-align: center;
        }
        ul {
          padding: 20px 0px;
        }
      }
    }
  }
}
